<nav>
  <ul>
    <li><a (click)="logout()" class="nav-link">>Logout</a></li>
  </ul>
</nav>
<div class="dashboard-container">
  <h1>Dashboard</h1>
  <table class="data-table table table-striped">
    <thead>
      <tr>
        <th>City</th>
        <th>Temperature</th>
        <th>Label</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of weatherData">
        <td>{{ item.city }}</td>
        <td>{{ item.temperature }} °C</td>
        <td>{{ item.label }}</td>
      </tr>
    </tbody>
  </table>
</div>
